body {
  height: 100vh;
  margin: 0;
  background-color:  #5d6d7e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-gap: 2px;
  background-color: #fff;
  height: 400px;
  width: 306px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#display {
  display: block;
  grid-column: span 4;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color:  #212f3c;
  color: #fff;
}

#clear {
    grid-column: span 2;
}

#eguals {
    grid-column: span 2;
    
}

#zero {
    grid-column: span 2;
}

input {
    border-radius: 5px;
    border: none;
    background-color:  #212f3c;
    color: #fff;
    font-size: 16px;
}

input[type="submit"]:hover {
  cursor: pointer;
  border: 2px solid black;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #212f3c;
}

#menos1 {
  background-color: #212f3c;
}

icon {
  color: white;
}

